PORT=5002
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/civicconnect-complaints
JWT_SECRET=your_jwt_secret_here
NOTIFICATION_SERVICE_URL=http://localhost:5005
WORKER_SERVICE_URL=http://localhost:5003
SOCKET_URL=http://localhost:5000
NODE_ENV=development
